.divflex{
    display: flex;
    margin-left: 40%;
    margin-right: 50%;
    border-bottom:1px solid black;
    width :350px;
    margin-bottom: 50px;
    border-radius: 5px;
    /* flex-direction: column */
}



.pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.set{
    text-align: left;
    margin-left: 50px;
    /* margin-bottom: 2px;
     */
     line-height: 1em;
}